.hero_intro {
	position: relative;
	height: 100vh;
	// background: #14133b;
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		margin: 0 0 20px;
		// color: #fff;
		// background: -webkit-linear-gradient(#eee, #333);
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;
	}
	h2 {
		font-size: 50px;
		font-weight: 400;
		line-height: 1.2;
		opacity: 0.75;
		margin: 0;
	}
	p {
		margin: 0;
	}
	.button_area {
		padding-top: 20px;
	}
	.watermark_area {
		position: absolute;
		top: 0;
		left: -25%;
	}
}
