$primaryColor1: #11a88a;
$primaryColor2: #009877;
$primaryColor3: #008b6b;
$primaryColor4: #007b5c;
$primaryColor5: #006b4e;
$primaryColor6: #004f33;
$primaryColor7: #b0e0d4;
$secondaryColor1: #ea6257;
$secondaryColor2: #dd483d;
$secondaryColor3: #d52b1e;
$secondaryColor4: #b91f13;
$secondaryColor5: #a51105;
$secondaryColor6: #ff00003d;
$greyColor1: #ffffff;
$greyColor2: #f7f8fa;
$greyColor3: #eff1f5;
$greyColor4: #dfe1e6;
$greyColor5: #9a9ea6;
$greyColor6: #737780;
$greyColor7: #484b52;
$greyColor8: #181919;
$greyColor9: #f8f9f9;
$greyColor10: #626666;
$feedBackRed: #e60a14;
$feedBackYellow: #e4dd3d;
$feedbackError: #e60a14;
$feedbackWarning: #e4dd3d;
$feedbackWarning2: #e4a13d;
$feedbackSuccess: #78be20;
$imageBackground: #e4fad2;
$WarningYellow: #f8f5c0;
$WarningYellow2: #eedcba;
$primaryGradient1: linear-gradient(135deg, #006393 0%, #0088ca 100%);
$primaryGradient2: linear-gradient(135deg, #b0e0d4 0%, #11a88a 100%);
$primaryGradient3: linear-gradient(135deg, #071a57 0%, #006393 98.96%);
$primaryGradient4: linear-gradient(135deg, #b0e0d4 0%, #7ce8d2 100%);
$secondaryGradient1: linear-gradient(135deg, #d52b1e 0%, #ea6257 98.96%);
$secondaryGradient2: linear-gradient(135deg, #a51105 0%, #d52b1e 98.96%);
$greyGradient1: linear-gradient(135deg, #dfe1e6 0%, #f7f8fa 98.96%);
$greyGradient2: linear-gradient(135deg, #9a9ea6 0%, #dfe1e6 98.96%);
$greyGradient3: linear-gradient(135deg, #484b52 0%, #9a9ea6 98.96%);
$black: #000;
$grey: #999;
$primaryYellow: #e5e076;
$greenColor1: #e4fad2;
$greenColor2: #cbf8c0;
$greenColor3: #508909;
$orangeColor1: #f8d4c0;
$pinkColor1: #f8c0d4;
$toast: #f2f8e9;

$theme-color: #043f85;
$border-radius: 4px;
$box-shadow1: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow2: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow3: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$box-shadow4: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
